html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
}

.font-link{
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #E7F2F8;
}

.header-main{
    background-color:#74BDCB;
    max-height: 5.5rem;
    z-index: 1;
}
.header-main img{
    width: 260px;
} 

.navlink{
    margin-left: 25px;
    margin-right: 25px;
    color:#050A30;
}

.coursebutton{
    margin-left: 25px;
    margin-right: 65px;
    border-radius: 50px;
    background-color:#050A30;
}

.coursebutton:hover{
    background-color: white;
    color: #050A30;
}

.sidepane{
    background-color: #74BDCB;
    top:calc(100%-5.5rem);
    z-index: 0;
}

.sidebtn{
    color: #050A30;
    padding-top: 10px;
    width: 220px;
}

/* .sidebar{
    padding-top: calc(100%-5.5rem);
} */

.sidepane ul{
    list-style: none;
    padding: 0%;
    margin: 0%;
    width: 100%;
}

.sidepane ul li{
    width: 100%;
    color:#050A30;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 50px;
}

.share p, .leaders p, .train p,.govern p, .partner p,.project p,.trainings p,.govern p,.partner p{
    text-align: justify;
    padding-left: 55px;
    padding-right: 55px;
}

.share img,.leaders img,.trainings img,.govern img,.partner img{
    width: 350px;
}

.card-custom{
    min-height: 150px;
}

.card{
    max-width: 540px;
}

/* .share{
    scroll-snap-type:y mandatory;
} */
